<mat-card>
  <mat-card-title>{{ categoryId === '' ? 'Nova categoria' : 'Editar categoria' }}</mat-card-title>

  <form [formGroup]="categoryForm" novalidate>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="name" name="name" />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="save()" color="primary">
    {{ categoryId === '' ? 'Adicionar' : 'Atualizar'}}
  </button>

  <button mat-raised-button (click)="returnToMainPage()" color="warn">
    Cancelar
  </button>
</mat-card>
