<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/users"><i class="material-icons">account_circle</i>Usuários</a>
      <a mat-list-item routerLink="/users/profiles"><i class="material-icons">group</i>Perfis</a>
      <a mat-list-item routerLink="/news/categories"><i class="material-icons"><span class="material-icons-outlined">
            sticky_note_2
          </span></i>Categorias de notícias</a>
      <a mat-list-item routerLink="/news"><i class="material-icons">feed</i>Notícias</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
