.header {
  display: flex;
  align-items: center;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 25px;
}

.header .logout-text {
  cursor: pointer;
  margin-left: 10px;
}

.header .logout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
